.testocarosello{
    font-size: 150%;
    color: black;
    background-color: white;
    opacity: 80%;
}

.testovisibile{
    font-size: 200%;
    color: white;
    background-color: black;
    opacity: 70%;
}