
#nometitolo {
    
    text-align: center;
    font-size: 500%;
    opacity: 70%;
}

#cerchio {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 70%;
    line-height: 0;
    position: centered;
   position: relative;
}

#temperatura {

  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 250%;

}




.main{
    background-image: url("../images/SfondoPrevisioni.jpg");

}

.info {
    
  text-align: center;
  font-size: 200%;
  opacity: 80%;
}

.dark{
  color: white;
  background-color: black;
}

.white{
  color: black;
  background-color: white;
}
