
#nometitolo {
    
    text-align: center;
    font-size: 500%;
    color: white;
    background-color: black;
    opacity: 70%;
}

#cerchio {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: black;
  opacity: 70%;
    line-height: 0;
    position: centered;
   position: relative;
}

#temperatura {

  position: absolute;
  bottom: 50%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 250%;

}


.main{
    background-image: url("../images/SfondoPrevisioni.jpg");

}

/*
.info {
    
    text-align: center;
    font-size: 200%;
    opacity: 70%;
}


.white{
  
  color: black;
  background-color: white;
}

.dark{
  
  color: white;
  background-color: black;
}*/

.darkinfo {
    
  text-align: center;
  font-size: 200%;
  color: white;
  background-color: black;
  opacity: 80%;
}

.whiteinfo {
    
  text-align: center;
  font-size: 200%;
  color: black;
  background-color: white;
  opacity: 80%;
}

/*
.giorni_black {

    text-align: center;
    font-size: 200%;
    color: white;
    background-color: black;
    opacity: 70%;
}


.giorni_white {

  text-align: center;
  font-size: 200%;
  color: black;
  background-color: white;
  opacity: 70%;
}*/
